@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 font-sans antialiased;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #d4d4d8 transparent;
  }

  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d4d4d8;
    border-radius: 999px;
  }
}
